.simple-invoice h2{
  margin-top: 0;
  font-size: 14px;
}

.simple-invoice span.label{
  font-weight: bold;
}

.simple-invoice .order-store-address{
  text-align: right;
  float: right;
  width: 50%;
}

.simple-invoice .order-customer{
  overflow: hidden;
  width: 50%;
  float: left;
  padding: 1em;
}

.simple-invoice-order-info{
  float: right;
  overflow: hidden;
  text-align:right;
  padding: 1em;
  clear: both;
}

.simple-invoice-products{
  clear: both;
}

.simple-invoice-totals{
  width:300px;
  float: right;
}

.simple-invoice-totals table td{
  width: 50%;
}

.simple-invoice-payments{
  clear: both;
  width:300px;
  float: right;
}

.simple-invoice-payments table td{
  width: 50%;
}
