.page-admin-commerce-orders-simple-invoice .toolbar-menu{
  display: none;
}

.page-admin-commerce-orders-simple-invoice .toolbar-drawer{
  display: none;
}

.page-admin-commerce-orders-simple-invoice .branding{
  display: none;
}

.page-admin-commerce-orders-simple-invoice .breadcrumb{
  display: none;
}

.page-admin-commerce-orders-simple-invoice .page-title{
  display: none;
}

.page-admin-commerce-orders-simple-invoice .tabs{
  display: none; 
}

.simple-invoice{
  font-family: verdana, sans-serif;
  font-size: 12px;
  color: #555;
}

.simple-invoice .order-store-address{
  text-align: right;
  float: right;
  width: 50%;
}


.simple-invoice table{
  width: 100%;
}

.simple-invoice table th{
  padding:10px;
  background-color: #E2E2E1;
}

.simple-invoice table td{
  padding: 10px
}